/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #bbb;
  color: #eee;
  height: 100vh;
}

input {
  display: block;
  width: 384px;
  padding: 4px 8px;
  border-radius: 5px;
  margin: 4px 0 12px;
  font-size: 1.05rem;
  outline: none;
}

input:focus {
  border: 3px solid rgb(25, 148, 255);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-image: url("./coffee.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 412px;
  height: 100vh;
  flex-shrink: 0;
}

.header-title {
  margin-top: 198px;
  background-color: rgba(12, 12, 12, 0.713);
  font-family: monospace;
  color: rgb(4, 247, 57);
  padding: 32px;
}

.fa-mug-hot {
  margin-right: 12px;
}

.credits > a {
  color: #eee;
}

.credits {
  background-color: rgba(12, 12, 12, 0.713);
  padding: 12px;
  margin-bottom: 12px;
}

.right-container {
  width: 1024px;
  height: 100vh;
  flex-shrink: 0;
  background: #222;
}

.quote-container {
  width: 824px;
  height: 200px;
  margin: 0 auto;
  margin-top: 124px;
}

.quote-container h2:last-child {
  margin-top: 24px;
}

.form-container {
  padding: 48px 64px 64px 104px;
  margin: auto;
  box-shadow: 2px 0px 6px -2px gray;
}

.form-title {
  margin-bottom: 24px;
}

.form {
  display: flex;
  align-items: center;
  gap: 48px;
}

.footer-container {
  width: 824px;
  margin: auto;
  margin-top: 48px;
}

.footer-container a {
  color: rgb(4, 247, 57);
}

.btn {
  padding: 8px 32px;
  font-size: 1.05rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 12px;
  background-color: rgba(4, 247, 57, 0.487);
  color: #eee;
}

.inline {
  display: inline-block;
}
